.booking-index-page {
  height: 100%;
  width: 100%;
}

.booking-index-grid {
  display: grid;
  position: relative;
  top: 83px;
  grid-template-columns: 1fr 3.5fr 1fr;
  z-index: 1;
}
.booking-index {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  grid-column-start: 2;
}

.booking-index-header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  grid-column-start: 2;
  margin-left: 7px;
  color: #484848;
  margin-top: 50px;
  margin-bottom: 35px;
}

.booking-index-item {
  border: 1px solid lightgrey;
  margin: 10px;
  height: auto;
}

.booking-index-spot-image {
  width: 325px;
  height: 200px;
}

.booking-index-host-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  margin: 155px 0 0 120px;

}

.booking-index-image-container {
  display: flex;
  flex-direction: column;
}

.booking-index-text-container {
  margin-top: 30px;
  text-align: center;
}

.booking-index-title {
  font-size: 30px;
  color: #484848;
  padding: 10px;
}

.booking-index-dates {
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 20px;
}

.bullet {
  font-size: 10px;
  padding: 3px 10px 0 10px;
}
