.main-header {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#f7f7f7, #ffffff);
  display: flex;
  justify-content: space-between;
}

.session-container{
  width: 100%;
  display: flex;
}

.modal-window {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  overflow: scroll;
}
.main-container {
  width: 100%
}

.nav-head {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 30px;
}

.login-signup {
  font-size: 15px;
  padding-right: 16px;
  padding-top: 28px;
}

.button-border {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  &:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid gray;
  }
}

.login-link {
  border: none;
  padding-left: 22px;
  padding-right: 20px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.home-search-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 25%;
}

.home-search {
  display: flex;
  width: 777px;
  height: 72px;
  border: 1px solid lightgray;
  background-image: url();
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: image_url('search.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 13px 24px;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  box-shadow:  0 5px 30px rgba(156, 160, 171, 0.25);
}

.home-search-button {
  cursor: pointer;
  background: #FF5A5F;
  font-size: 19px;
  color: white;
  position: relative;
  margin-left: -24px;
  height: 48px;
  width: 88px;
  border-radius: 5px;
  font-weight: 100;
  font-family: 'Work Sans', sans-serif;
}

.home-title {
  color: #FF5A5F;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}

.home-body {
  font-family: inherit;
  width: 700px;
  height: 130px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.8px;
  color: #484848;
}

.signup-link2 {
  text-decoration: none;
  color: #008489;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
    border: 2px solid white;
    &:hover {
      border-bottom: 2px solid #008489;
    }
    &:focus {
      outline: none;
    }
}

.signup-link {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.login-link2 {
  text-decoration: none;
  color: #008489;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid white;
    &:hover {
      border-bottom: 2px solid #008489;
    }
    &:focus {
      outline: none;
    }
}

.email-input {
  margin: 8px;
  width: 450px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  font-weight: lighter;
  margin-top: 80px;
  background-image: image-url('email.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 420px;
}

.password-input {
  margin: 8px;
  width: 450px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  font-weight: lighter;
  background-image: image-url('lock.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 420px;
}

.first-name-input {
  margin: 8px;
  width: 450px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  font-weight: lighter;
  background-image: image-url('social.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 420px;
}

.last-name-input {
  margin: 8px;
  width: 450px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  font-weight: lighter;
  background-image: image-url('social.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 420px;
}

.login-button {
  margin: 8px;
  width: 466px;
  height: 50px;
  background: #FF5A5F;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.close-icon {
  font-size: 30px;
  text-decoration: none;
  float: left;
  margin-left: 25px;
  margin-top: 15px;
  color: inherit;
  font-weight: 100;
  border-style: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.login-form-container {
  text-align: center;
  border: 1px solid gray;
  margin: auto;
  width: 525px;
  height: 475px;
  margin-top: 200px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  z-index: 4;
}

.signup-form-container {
  text-align: center;
  border: 1px solid gray;
  margin: auto;
  width: 525px;
  height: 595px;
  margin-top: 200px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  z-index: 4;
}

.session-redirect-border {
  height: 0px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.session-redirect {
  text-decoration: none;
  border-top: 1px solid gray;
  font-weight: lighter;
  padding-top: 40px;
}

.homepage-icon {
  padding-left: 21px;
  padding-top: 21px;
  width: 40px;
  height: 40px;
}

.header-link {
  width: 0px;
}

.guest-login {
  border-style: none;
  color: #008489;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 30px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    border-bottom: 2px solid #008489;
  }
}
 .errors-list {
   margin-top: 20px;
 }
