header {
  display: flex;
  justify-content: space-between;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  padding-top: 10px;
}

.login-signup {
  font-size: 15px;
}

.login-link {
  text-decoration: none;
  color: inherit;
    &:hover {
      border-bottom: 2px solid gray;
    }
}

.login-link2 {
  text-decoration: none;
  color: #008489;
  font-weight: bold;
    &:hover {
      border-bottom: 2px solid #008489;
    }
}

.signup-link {
  text-decoration: none;
  color: inherit;
    &:hover {
      border-bottom: 2px solid gray;
    }
}

.signup-link2 {
  text-decoration: none;
  color: #008489;
  font-weight: bold;
    &:hover {
      border-bottom: 2px solid #008489;
    }
}

.login-input {
  margin: 8px;
  width: 450px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  font-weight: lighter;
}

.login-button {
  margin: 8px;
  width: 466px;
  height: 50px;
  background: #FF5A5F;
  color: white;
  border-radius: 5px;
  font-size: 17px;
}

.close-icon {
  font-size: 30px;
  text-decoration: none;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  color: inherit;
  font-weight: 100;
}

.login-form-box {
  padding-top: 40px;
}

.login-form-container {
  text-align: center;
  border: 1px solid gray;
  margin: auto;
  width: 525px;
  height: 375px;
  margin-top: 200px;
  padding: 0px;
  padding-bottom: 40px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.session-redirect-border {
  height: 0px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.session-redirect {
  text-decoration: none;
  border-top: 1px solid gray;
  font-weight: lighter;
  padding-top: 20px;
}

.homepage-icon {
  font-size: 20px;
  position: fixed;
  top: -7px;
  left: 5px;
  color: black;
  padding-top: 5px;
}

.guest-login {
  border-style: none;
  color: #008489;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.errors-list {
  list-style: none;
}
