.vsc-initialized {
  border-bottom: 1px solid lightgray;
  padding-bottom: 23px;
}

.logout-button {
  position: fixed;
  right: 20px;
  top: 10px;
  border-style: none;
  padding-top: 20px;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 6px;
  font-family: Helvetica;
  border-bottom: 2px solid white;
  &:hover {
    border-bottom: 2px solid gray;
  }
}

.host-button {
  position: fixed;
  right: 100px;
  top: 10px;
  border-style: none;
  padding-top: 20px;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 6px;
  font-family: Helvetica;
  border-bottom: 2px solid white;
  &:hover {
    border-bottom: 2px solid gray;
  }
}

.spot-image {
  width: 390px;
  height: 260px;
}


.spot-list > ul {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 20%;
}


#map-container {
  top: 50px;
  float: right;
}

.spot-index-item {
display: inline-block;
flex-wrap: wrap;
float: left;
padding: 20px;
box-sizing: border-box;
margin-top: 80px;
max-width: 500px;
}
