.spot-link {
  text-decoration: none;
}

.rating-stars {
  margin-left: 3px;
}

.spot-type {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 700;
  color: rgb(57, 87, 106);
  text-transform: uppercase;
  padding: 3px;
  text-decoration: none;
}

.spot-title {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: #484848;
  font-weight: 700;
  padding: 3px;
  width: 93%;
  text-decoration: none;
}

.spot-price {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
  padding: 5px;
  text-decoration: none;
  color: #484848;
}
.spot-image {
  width: 390px;
  height: 260px;
  border-radius: 5px;
}

.spot-list > ul {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 20%;
}

.spots-main-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.spot-map {
  grid-column-start: 2;
  height: 100%;
  position: fixed;
  right: 0;
  top: 80px;
}

#map-container {
  float: right;
  height: 100%;
}

.spot-index {
  margin-top: 100px;
}

.homepage-icon-login {
  padding-left: 12px;
  padding-top: 27px;
  width: 40px;
  height: 40px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spot-index-item {
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  max-width: 400px;
}
