.spot-create-content {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin: 0 auto;
}

.spot-create-form {
  position: absolute;
  width: 100%
}
